meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(name="robots" content="index, follow")

base(href="/")

title="prismic.meta.data.title"

link(rel="apple-touch-icon" type="image/svg" sizes="32x32" href="/vite.svg")
link(rel="icon" type="image/svg" sizes="32x32" href="/vite.svg")
link(rel="mask-icon" type="image/svg" sizes="32x32" href="/vite.svg")
link(rel="apple-touch-icon" sizes="32x32" href="/vite.svg")

link(rel="canonical" href="https://website.com")

meta(name="msapplication-TileColor" content="#1e1e1e")
meta(name="theme-color" content="#1e1e1e")

meta(property="og:type" content="website")
meta(property="og:locale" content="fr_FR")
meta(property="og:url" content="https://website.com")
meta(property="og:title" content="prismic.meta.data.title")
meta(property="og:description" content="prismic.meta.data.description")
meta(property="og:image" content="prismic.meta.data.image.url")

meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:title" content="prismic.meta.data.title")
meta(name="twitter:description" content="prismic.meta.data.description")
meta(name="twitter:image" content="prismic.meta.data.image.url")

meta(name="apple-mobile-web-app-capable" content="yes")
meta(name="apple-mobile-web-app-status-bar-style" content="default")