@use '../utils/_index' as *;

%page {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  color: inherit;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

%page--active {
  pointer-events: all;
}
