$z-indexes: ('grid', 'preloader', 'navigation', 'content', 'canvas');

$ease-in-out: cubic-bezier(0.7, 0, 0.3, 1);
$expo-in-out: cubic-bezier(0.9, 0, 0.1, 1);
$ease-out: cubic-bezier(0.39, 0.575, 0.565, 1);
$expo-out: cubic-bezier(0.19, 1, 0.22, 1);

$font-satoshi: 'Satoshi';

$color-white: rgb(222, 222, 222);
$color-black: rgb(30, 30, 30);
$color-pink: rgb(255, 152, 162);

$breakpoints: (
  'phone': 768px,
  'tablet': 1024px,
  'desktop': 1920px,
) !default;

@import 'node_modules/include-media/dist/include-media';
