.home {
  @extend %page;

  &--active {
    @extend %page--active;
  }
}

.home__top {
  height: 75vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 18px;

  h1 {
    font-size: 12rem;
  }

  a {
    color: plum;
    font-size: 3rem;
  }
}

.home__bottom {
  height: 75vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20rem;

  .home__media {
    width: 90rem;
    height: 90rem;
  }
}
