*,
*:after,
*:before {
  box-sizing: border-box;
  user-select: none;
}

html {
  @extend %cover;

  font-size: calc(100vw / 1920 * 10);
  font-family: $font-satoshi;
  position: fixed;
  overflow: hidden;
  overscroll-behavior: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  @include media('<phone') {
    font-size: calc(100vw / 1000 * 10);
  }
}

body {
  @extend %cover;

  position: fixed;
}

a {
  color: inherit;
  outline: none;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  outline: none;
}

canvas {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: z('canvas');
}

[data-animation='appear'] span {
  will-change: opacity, visibility;
}

[data-animation='text'] span {
  display: block;
  overflow: hidden;

  span {
    display: inline-block;
    vertical-align: top;
    will-change: transform;
  }
}

[data-animation='title'] {
  overflow: hidden;

  span {
    display: inline-block;
    vertical-align: top;
    will-change: transform;
  }
}
